#main-calendar .monthview-current {
    background-color:#66b2ff;
    color:black;
}
.toolbar-background {
    background-color: #f4680c
}
.toolbar-title-ios{
    color: white
}
#main-calendar .monthview-selected {
    background-color: #e0600b;
}
#main-calendar .calendar{
    border-bottom: #e0600b;
}
#main-calendar td {
    border:0;
    border-bottom: 1px solid #ddd;
}

#main-calendar th {
    border:0;
    border-bottom: 1px solid #ddd;
}

ion-buttons #add-event{
    color:white;
    font-size: 20px;
    padding-right: 7px;
}
.toolbar-background  {
    background-color: #e0600b;
  }
.toolbar-title-ios{
    color: white;
  }
