#main-calendar .monthview-current {
    background-color:#66b2ff;
    color:black;
}
.toolbar-background {
    background-color: #f4680c
}
.toolbar-title-ios{
    color: white
}
#main-calendar .monthview-selected {
    background-color: #f6480c;
}